<h2>Ask me</h2>
<div class="form-group">
<form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
</div>


